section.signin {
    text-align: center;
    margin: 3vw;
}

img.lock {
    width: 70px;
}

p.hd {
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border: 0;
    margin: 0;
    margin-bottom: 0.9vw;
    color: rgb(61, 61, 61);
    margin-bottom: 2vw;
}

.hd span {
    font-size: 1.1vw;
}

input[type="text"] {

    width: 24vw;
    height: 2.8vw;
    border-radius: 4px;
    border: 1px solid rgb(212, 211, 211);
    margin: 0.8vw;
    padding-left: 1vw;
    
}
li {
    color: #f15a5a;
}
label{
    
    display: none;
}
input#id_password {
    width: 24vw;
        height: 2.8vw;
        border-radius: 4px;
        border: 1px solid rgb(212, 211, 211);
        margin: 0.8vw;
        padding-left: 1vw;

}

button.signin {
    width: 25.2vw;
    background-color: #1876d1;
    color: #f3eded;
    border: none;
    height: 2.4vw;
    border-radius: 4px;
    font-size: 0.8vw;
}

.copyright a {
    color: #828486;
}

.copyright {
    color: #828486;
}


/* home */

.right1 {
    background-color: #1876d1;
    color: white;
    display: flex;
    justify-content:end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    padding-right: 3vw;
    /* margin-right: 2vw; */
}
.right1 a{
    color: white;
    text-decoration: none;
}
p .hd1 {
    display: flex;

        color: white;
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vw;
       
}
.right1 span {
    justify-content: center;
}
button.signin:hover{
    background-color: #0e5fb1;
    transition: 0.6s;
}

/* //// */
/* 2ndadded */



body{
    margin: 0;
}
.header {
    display: flex;
    width: 100%;
    background-color: rgb(11, 111, 211);
    color: rgb(253, 248, 248);
    justify-content: space-between;
    margin-left: 13vw;
    height: 1.5vw;
    margin-top: 0;
    
    padding: 0.5vw 1vw 2.4vw 2vw;
}
p.head  , p.user {
    font-size: 1.1vw;

}
.icon_arrow {
    position: absolute;
    top: 1.3vw;
    left: 10.7vw;
    font-size: 1.5vw;
}
.menu {
    display: flex;
    gap: 1.2vw;
    padding: 4px;
}
.menul {
    display: flex;
    gap: 1.2vw;
    background-color:rgb(188, 185, 185);
    padding: 4px;
}
img#menu_icon {
    width: 27px;
    opacity: 0.7;
}
section.leftmenu {
    width: 13vw;
    height: 100vw;
    border-right: 1px solid rgb(112, 111, 111);
    border-top: 1px solid rgb(112, 111, 111);
}
section.Main_content {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    display: flex;
    margin-left: 50vw;
    padding-right: 3vw;
    gap: 2vw;
}

.user a{
    text-decoration: none ;
    color: white;
}
.signin a{
    text-decoration: none ;
    color: white;
}