<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
    



    {% csrf_token %}
    {% if user.is_authenticated %}
    <div class="nav1">
        
        <div class="right1">
        <p class="name1"> {{ user.username }} &nbsp; &nbsp;</p>
        <p><a href="{% url 'login' %}"> Log out </a></p>
        </div>


    </div>
    
  







    {% else %}
    <p> log In </p>
    <a href="{% url 'login' %}"> Log In </a>
    {% endif %}
</body>
</html>